
<h1>Title: <%= @movie.title %></h1>

<h2>Genre: <%= @movie.genre %></h2>
<h2>Year released: <%= @movie.year_released %></h2>

<h3><%= image_tag @movie.img_url %></h3><br>



<%= button_to 'Rent me!', {:controller => "rentals", :action => "create", :item_id => @movie.id, :item_type => "Movie", :user_id=> session[:user_id]} , :method=>:post  %>


<h4><%= link_to("Back to All Movies", movies_path) %></h4><br>

